.resume {
  height: 100%;
}
.timeline {
  display: flex;
  width: 100%;
  padding: 20px;
}
.timeline_experience {
  width: 50%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.timeline_experiece_header_text {
  position: relative;
  display: inline-block;

  color: var(--yellow-theme-main-color);
  font-size: 22px;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.5px;

  padding: 5px 10px;
  border-bottom: 2px solid var(--yellow-theme-main-color);
}

.timeline_experiece_header_text::before,
.timeline_experiece_header_text::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 5px;
  background-color: var(--yellow-theme-main-color);
  bottom: -1px;
}
.timeline_experiece_header_text::before {
  left: 0;
}
.timeline_experiece_header_text::after {
  right: 0;
}

.timeline_experience_vertical_timeline_element {
  padding: 0px 0px 30px 0px;
}
.timeline_experience_vertical_timeline_element:last-child {
  padding-bottom: 0px;
}
.timeline_experience_vertical_timeline_element_title_wrapper {
  display: flex;
  align-items: center;
}
.vertical_timeline_element_title_wrapper h3,
h4 {
  font-size: 16px;
}
.vertical_timeline_element_title_wrapper h4 {
  margin-left: 8px;
}
.vertical_timeline_element_title_wrapper_description {
  font-size: 100px;
}

.timeline_experience_vertical_timeline_element_content {
  box-shadow: none;
}
.timeline_experience_vertical_timeline_element_content_arrow {
  display: none;
}

.timeline_experience_vertical_timeline_element_date {
  opacity: 1;
  color: var(yellow-theme-sub-text-color);
  font-size: 18px;
}
